.veatlogo {
	font-family: 'Pacifico', cursive;
	font-weight: lighter;
}
.container {
	box-shadow: 1px 1px 1px 1px grey;
	margin-top: 50px;
}
.navbar-text {
	font-style: italic;
}

.navbar{
	position:fixed;
	width: 100%;
	z-index: 999;
	top: 0;

}

.veatlogobcolor {
	color:#16a085;
	text-align: center;
}

#sameline {
	display: inline;
	vertical-align: top;
}

#logoutli {
	list-style-type: none;
}

.bizcard {
	position: relative;
	border:1px dotted grey;
	width: 100%;
	display: inline-block;
	margin:3px;
	padding:3px;
	border-radius: 5px;


}

.bizcard img {
	width:300px;
	float: left;
}

.bizcard p {
	margin:10px;
}

.login{
	max-width: 650px;
	margin:auto;
	margin-top: 13%;
}

.span{
    font-family: 'Open Sans', sans-serif !important;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.selectedbizcard{
	border:1px dotted grey;
	width: 100%;
	display: inline-block;
	margin:3px;
	padding:3px;
	border-radius: 5px;
}

.descArea {
	display: inline-block;
	padding-left:10px;
}

.dashboard {
	border:1px dotted grey;
	width: 30%;
	display: inline-block;
	margin:8px;
	padding:3px;
	border-radius: 5px;
}

.showOptions {
	display: inline-block;
    position: relative;
    color: white;
    float: left;

}

.showOptions img {
	 width: 290px;
}

.hoverDesc {
    position: absolute;
    text-align: center;
    width: 290px;
    bottom: 0px;
    background-color: rgba(169,169,169,0.6);
}

.hoverDesc a {
	color: white;
}

